/* General styling for the body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid hsl(0, 2%, 10%);
    background-color:#a16233;
}

/* Styling for headings */
h1, h2 {
    color: #382121;
}

/* List styling */
ul, ol {
    margin-left: 20px;
}

/* Paragraph styling */
p {
    font-size: 17px;
    color: #3f332d;
}

/* Styling for unordered and ordered lists */
ul li, ol li {
    margin-bottom: 5px;
}
